@font-face {
    font-family: "AtlasGroteskBlack";
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: local("AtlasGrotesk-Black"), url("../fonts/atlas-grotesk/black/AtlasGrotesk-Black-Web.eot?#iefix") format("embedded-opentype"), url("../fonts/atlas-grotesk/black/AtlasGrotesk-Black-Web.woff") format("woff"), url("../fonts/atlas-grotesk/black/AtlasGrotesk-Black-Web.ttf") format("truetype")
}
.magic-show {
    background-color: #eff5f7;
}
.page-header-wrap {
    max-width: 1220px;
    margin: auto;
}
.page-header {
    position: relative;
    padding-bottom: 40%;
    width: 100%;
    background-color: #e5e5e5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.page-header .constraint {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.page-header .constraint h1 {
    font-family: "AtlasGroteskBlack", "Helvetica Neue", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-size: 5.4rem;
    line-height: 5.4rem;
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}

.themes-wrapper {
    background-color: #eff5f7;
}
.themes-inside {
    padding: 30px 30px 40px 30px;
}
@media screen and (max-width: 480px) {
    .header-inside {
        padding-left: 15px;
        padding-right: 15px;
    }
    .page-header {
        padding-bottom: 60%;
    }
    .page-header .constraint h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
}